body {
	background-color: #242429;
	color: #dddddd;
	font-family: sans-serif;
	margin: 20px 20px 20px 20px;
}

a {
	color: #d48130;
}

a:hover {
	color: seagreen;
}

h1,h2,h3 {
	color: #d48130;
	font-family: 'Armata', sans-serif;
}

hr {
	border-color: #d48130;
	height: 1px;
}

h4 {
	margin-left: 1.5em;
}

h3 {
	margin-top: 2em;
}
